<div class="w3-card" style="background-color:white"><br>
    <div class="w3-row" style="margin: 20px;">
        <table>
            
                <td class="w3-card " style="text-align: center;border-width: 1px;"><h6>Strengths</h6>{{Strengths}}</td>
                <td class="w3-card " style="text-align: center;border-width: 1px;"><h6>Weekness</h6>{{Weekness}}</td>
                <td class="w3-card " style="text-align: center;border-width: 1px;"><h6>Opportunities</h6>{{Opportunities}}</td>
                <td class="w3-card  " style="text-align: center;border-width: 1px;"><h6>Threats</h6>{{Threats}}</td>
             
        </table>
        
    </div><br>
 
</div>